extends layout 

block layout-content 
    .main-content
        h1.main-content__h1 Our Collection
        div.main-content__collection-content.collection-content
            //- img sources
                https://pixabay.com/photos/rose-flower-dew-dewdrops-droplets-165819/
                https://pixabay.com/photos/marguerite-daisy-flower-white-729510/
                https://pixabay.com/photos/lotus-flower-bloom-blossom-978659/
                https://pixabay.com/photos/marigold-flower-dewdrops-1568646/
                https://pixabay.com/photos/rose-flower-love-romance-beautiful-729509/
                https://pixabay.com/photos/rose-flower-petals-red-rose-320868/
                https://pixabay.com/photos/flower-lily-lilium-candidum-729514/
                https://pixabay.com/photos/poppy-flower-red-poppy-red-flower-3430058/
            img(src="/img/daisy.jpg", alt="daisy flower").collection-content__img
            img(src="/img/lotus.jpg", alt="lotus flower").collection-content__img
            img(src="/img/marigold.jpg", alt="marigold flower").collection-content__img
            img(src="/img/rose-blue.jpg", alt="blue rose flower").collection-content__img
            img(src="/img/rose-multicolour.jpg", alt="rose flower").collection-content__img
            img(src="/img/rose-red.jpg", alt="red rose flower").collection-content__img
            img(src="/img/lily.jpg", alt="lily flower").collection-content__img
            img(src="/img/poppy.jpg", alt="poppy flower").collection-content__img
